<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}

  <title>error!</title>
</head>

<body>

  {{>navbar}}

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure class="errImg">
              <img src="images/404.png" alt"ismail" class="img-fluid" title="Ismail">
            </figure >
              <p>Welcome to Ismail world</p>
              <h1>Oops!! <span class="text_clr"> page not found </span></h1>
              <a href="/"><button>Go Back</button></a>
          </div>
          </div>
          </div>
          </div>
          </div>
          

    {{>footer}}

   
</body>

</html>