<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
  <title>About</title>
</head>
<body>

    {{>navbar}}

    <div class="main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">             
              <figure>
                <img src="images/me.jpg" alt"ismail" class="img-fluid" title="Ismail">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Ismail's world</p>
              <h1>I am a <span class="text_clr"> MERN Stack Developer </span> and a Tech Geek</h1>
              <a href="/about"><button>About Me</button</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{>footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>